.center {
  text-align: center; }

.center.icon {
  padding: 20px; }

.refresh {
  margin-bottom: 30px; }

body {
  margin-top: 40px; }

.panel.on {
  box-shadow: 0px 0px 15px 0px #FFF;
  transition: box-shadow 0.5s; }

.btn {
  width: 40px;
  height: 40px;
  margin: 1px; }
  .btn.red {
    background: red; }
  .btn.green {
    background: green; }
  .btn.blue {
    background: blue; }
  .btn.white {
    background: white; }
  .btn.cyan {
    background: cyan; }
  .btn.purple {
    background: purple; }
  .btn.pink {
    background: pink; }
  .btn.orange {
    background: orange; }
  .btn.yellow {
    background: yellow; }
